.cart-page {
  padding: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff8f0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.cart-item img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
}

.cart-location {
  text-align: center;
  color:green;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

